{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NEWS AGGREGATOR</title>
	<link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}">
	    </head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="{% static 'news/images/logo.png' %}">

			</div>
			<ul>
				  
				  <li><a href="{% url 'index' %}">Home</a></li>
				  <li><a href="{% url 'serach' %}">Search</a></li>
                  <!-- <li><a href="#">Refresh</a></li> -->
                  <li><a href="{% url 'categorey' %}">Categories</a></li>
				  <!--<li><a href="#">Search</a></li>

				   <label for="categories">Choose a News Categories:</label>

			
  				<option value="sports">Sports</option>
  				<option value="edu">Education</option>
  				<option value="politics">Polytics</option>
  				<option value="covid">Covid</option>
			     -->
			
			</ul>
		</div>
		<div class="Title">
			<h1>News Aggregator</h1>
		</div>
    </header>
    <div class="about-section">
  <h1>About Us </h1>
  <p>We are Computer engineering students willing to develop the softwares with new techologies.</p>
  <p></p>
</div>


	
</body>
</html>